<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>登录</title>
    <link rel="stylesheet" href="../css/login.css">
    <script src="../js/zepto.min.js"></script>
    <script src="../js/main.js"></script>
</head>
<body>
<header>登录</header>
    <input type="text" placeholder="请输入账号" name="username">
    <input type="password" placeholder="请输入密码" name="password">
    <input type="submit" value="登录">
    <a href="">还没账号？马上注册</a>
</body>
<script>
    $('input[type=submit]').click(function () {
        var username=$('input[name=username]').val();
        var password=$('input[name=password]').val();
        $.ajax({
            contentType:"application/json",
            cache:false,
            type:'post',
            url: 'http://106.14.1.61:9000/login?user='+username+'&passwd='+password,
            error:function(){
                console.log("登录失败");
            },
            success:function (text) {
                if(text.result=='success'){
                    console.log(text);
                    sessionStorage.token=text.login.token;
                    sessionStorage.user=text.login.user;
                    location.href="../index.html";
                }
            }
        });
    })

</script>