<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>传感器详情页</title>
    <script src="../js/zepto.min.js"></script>
    <script src="../js/main.js"></script>
    <script src="../js/iscroll.js"></script>
    <link rel="stylesheet" href="../css/problem.css">
</head>
<body>
<header>
    <a href="javascript:;" class="go-back">&#xe622;</a>
    <div>传感器详情页</div>
    <a href="javascript:;"></a>
</header>
<div class="con">
    <textarea name="" id="" cols="30" rows="10" placeholder="请输入所遇到的问题或建议"></textarea>
    <div class="add-photo">
        <div class="photo">
            <img src="../images/tx.jpg" alt="">
        </div>
        <div class="add">添加图片说明</div>
    </div>
    <input type="text" class="yourtel" placeholder="您的联系方式">
    <p class="prompt">选填，便于我们联系你</p>
    <button>提交</button>
</div>
</body>
</html>
<script>
    var back=document.querySelector('.go-back');
    back.addEventListener('touchstart',function () {
        window.history.go(-1);
    })
</script>