<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>设备分享页</title>
    <script src="../js/zepto.min.js"></script>
    <script src="../js/main.js"></script>
    <script src="../js/iscroll.js"></script>
    <link rel="stylesheet" href="../css/share.css">
</head>
<body onload="loaded()">
<header>
    <a href="javascript:;" class="go-back">&#xe622;</a>
    <div>设备分享页</div>
    <a href="share-list.html">&#xe925;</a>
</header>
<div class="con">
            <div class="title">
                <div class="tit1">建筑工地RPU</div>
                <div class="tit4">设备地址</div>
            </div>
            <div class="search-box">
                <input type="text" class="search" placeholder="请输入用户信息">
                <a href="addShare.html" class="icon-search">&#xe638;</a>
            </div>
    <div id="wrapper">
        <div id="scroller">
            <ul class="fa">
                <li class="fa-li">
                    <a href="" class="img1">&#xe63b;</a>
                    <a href="photo.html" class="img">&#xe663;</a>
                    <h3>用户名</h3>
                    <h3>
                        <input type="text" placeholder="备注信息">
                    </h3>
                </li>
                <li class="fa-li">
                    <a href="" class="img1">&#xe63b;</a>
                    <a href="photo.html" class="img">&#xe663;</a>
                    <h3>用户名</h3>
                    <h3>
                        <input type="text" placeholder="备注信息">
                    </h3>
                </li>
                <li class="fa-li">
                    <a href="" class="img1">&#xe63b;</a>
                    <a href="photo.html" class="img">&#xe663;</a>
                    <h3>用户名</h3>
                    <h3>
                        <input type="text" placeholder="备注信息">
                    </h3>
                </li>
                <li class="fa-li">
                    <a href="" class="img1">&#xe63b;</a>
                    <a href="photo.html" class="img">&#xe663;</a>
                    <h3>用户名</h3>
                    <h3>
                        <input type="text" placeholder="备注信息">
                    </h3>
                </li>
                <li class="fa-li">
                    <a href="" class="img1">&#xe63b;</a>
                    <a href="photo.html" class="img">&#xe663;</a>
                    <h3>用户名</h3>
                    <h3>
                        <input type="text" placeholder="备注信息">
                    </h3>
                </li>
                <li class="fa-li">
                    <a href="" class="img1">&#xe63b;</a>
                    <a href="photo.html" class="img">&#xe663;</a>
                    <h3>用户名</h3>
                    <h3>
                        <input type="text" placeholder="备注信息">
                    </h3>
                </li>
                <li class="fa-li">
                    <a href="" class="img1">&#xe63b;</a>
                    <a href="photo.html" class="img">&#xe663;</a>
                    <h3>用户名</h3>
                    <h3>
                        <input type="text" placeholder="备注信息">
                    </h3>
                </li>
                <li class="fa-li">
                    <a href="" class="img1">&#xe63b;</a>
                    <a href="photo.html" class="img">&#xe663;</a>
                    <h3>用户名</h3>
                    <h3>
                        <input type="text" placeholder="备注信息">
                    </h3>
                </li>
                <li class="fa-li">
                    <a href="" class="img1">&#xe63b;</a>
                    <a href="photo.html" class="img">&#xe663;</a>
                    <h3>用户名</h3>
                    <h3>
                        <input type="text" placeholder="备注信息">
                    </h3>
                </li>
                <li class="fa-li">
                    <a href="" class="img1">&#xe63b;</a>
                    <a href="photo.html" class="img">&#xe663;</a>
                    <h3>用户名</h3>
                    <h3>
                        <input type="text" placeholder="备注信息">
                    </h3>
                </li>
                <li class="fa-li">
                    <a href="" class="img1">&#xe63b;</a>
                    <a href="photo.html" class="img">&#xe663;</a>
                    <h3>用户名</h3>
                    <h3>
                        <input type="text" placeholder="备注信息">
                    </h3>
                </li>
                <li class="fa-li">
                    <a href="" class="img1">&#xe63b;</a>
                    <a href="photo.html" class="img">&#xe663;</a>
                    <h3>用户名</h3>
                    <h3>
                        <input type="text" placeholder="备注信息">
                    </h3>
                </li>
                <li class="fa-li">
                    <a href="" class="img1">&#xe63b;</a>
                    <a href="photo.html" class="img">&#xe663;</a>
                    <h3>用户名</h3>
                    <h3>
                        <input type="text" placeholder="备注信息">
                    </h3>
                </li>
            </ul>
        </div>
    </div>
</div>
</body>
</html>
<script>
    var myScroll;

    function loaded () {
        myScroll = new IScroll('#wrapper', { scrollX: true, freeScroll: true, click:true});
    }
    let back=document.querySelector('.go-back');
    back.addEventListener('touchstart',function () {
             window.history.go(-1);
    })
</script>